<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:~/.jfw/db/jfw3-csv-core/test/h2/MobilePhone"/>
        <property name="username" value="jfw"/>
        <property name="password" value="jfw"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="jp/co/ctc_g/jse/core/csv/mybatis/MobilePhoneDaoImpl.xml"/>
  </mappers>
</configuration>